<!DOCTYPE html>
<html>

<head>
    <%- include('_particials/head') %>
</head>

<body>
    <%- include("_particials/header/main", {page:''}); %>
    <div class="container pt-3 d-grid gap-3">
        <div class="row d-flex justify-content-center">
            <div class="col col-12 col-md-8">
                <div class="card text-center">
                    <form action="/query" method="POST" id="form_chked">
                        <div class="card-header">
                            <label for="queryAlias">查询别名</label>
                        </div>
                        <div class="card-body d-grid gap-3">
                            <label class="mdc-text-field mdc-text-field--outlined">
                                <span class="mdc-notched-outline">
                                  <span class="mdc-notched-outline__leading"></span>
                                  <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label" id="queryAliasLabel">要查询的别名</span>
                                  </span>
                                  <span class="mdc-notched-outline__trailing"></span>
                                </span>
                                <input type="text" class="mdc-text-field__input input-required" aria-labelledby="queryAliasLabel" 
                                    id="queryAlias" name="queryAlias" autocomplete="off">
                            </label>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-secondary m-auto" >查询</button>
                        </div>
                    </form>
                </div>
            </div>
        <div class="row d-flex justify-content-center mt-3">
            <div class="col col-12 col-md-8">
                <div class="card">
                    <div class="card-body">
                        <p class="note note-primary">
                        如需提交别名，点击导航栏“提交”即可。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <foot>
        <%- include('_particials/foot'); %>
    </foot>
</html>